### **Student Information**
Name: Catherine Tao

Student ID: X1140008

GitHub ID: sleepingpandazzz25

Kaggle name: catherinettao

Kaggle private scoreboard snapshot: 

![pic_ranking.png](./pics/pic_ranking.png)

---

# **Instructions**

For this lab we have divided the assignments into **three phases/parts**. The `first two phases` refer to the `exercises inside the Master notebooks` of the [DM2025-Lab2-Exercise Repo](https://github.com/difersalest/DM2025-Lab2-Exercise.git). The `third phase` refers to an `internal Kaggle competition` that we are gonna run among all the Data Mining students. Together they add up to `100 points` of your grade. There are also some `bonus points` to be gained if you complete `extra exercises` in the lab **(bonus 15 pts)** and in the `Kaggle Competition report` **(bonus 5 pts)**.

**Environment recommendations to solve lab 2:**
- **Phase 1 exercises:** Need GPU for training the models explained in that part, if you don't have a GPU in your laptop it is recommended to run in Colab or Kaggle for a faster experience, although with CPU they can still be solved but with a slower execution.
- **Phase 2 exercises:** We use Gemini's API so everything can be run with only CPU without a problem.
- **Phase 3 exercises:** For the competition you will probably need GPU to train your models, so it is recommended to use Colab or Kaggle if you don't have a laptop with a dedicated GPU.
- **Optional Ollama Notebook (not graded):** You need GPU, at least 4GB of VRAM with 16 GB of RAM to run the local open-source LLM models. 

## **Phase 1 (30 pts):**

1. __Main Exercises (25 pts):__ Do the **take home exercises** from Sections: `1. Data Preparation` to `9. High-dimension Visualization: t-SNE and UMAP`, in the [DM2025-Lab2-Master-Phase_1 Notebook](https://github.com/difersalest/DM2025-Lab2-Exercise/blob/main/DM2025-Lab2-Master-Phase_1.ipynb). Total: `8 exercises`. Commit your code and submit the repository link to NTU Cool **`BEFORE the deadline (Nov. 3th, 11:59 pm, Monday)`**

2. **Code Comments (5 pts):** **Tidy up the code in your notebook**. 

## **Phase 2 (30 pts):**

1. **Main Exercises (25 pts):** Do the remaining **take home exercises** from Section: `2. Large Language Models (LLMs)` in the [DM2025-Lab2-Master-Phase_2_Main Notebook](https://github.com/difersalest/DM2025-Lab2-Exercise/blob/main/DM2025-Lab2-Master-Phase_2_Main.ipynb). Total: `5 exercises required from sections 2.1, 2.2, 2.4 and 2.6`. Commit your code and submit the repository link to NTU Cool **`BEFORE the deadline (Nov. 24th, 11:59 pm, Monday)`**

2. **Code Comments (5 pts):** **Tidy up the code in your notebook**. 

3. **`Bonus (15 pts):`** Complete the bonus exercises in the [DM2025-Lab2-Master-Phase_2_Bonus Notebook](https://github.com/difersalest/DM2025-Lab2-Exercise/blob/main/DM2025-Lab2-Master-Phase_2_Bonus.ipynb) and [DM2025-Lab2-Master-Phase_2_Main Notebook](https://github.com/difersalest/DM2025-Lab2-Exercise/blob/main/DM2025-Lab2-Master-Phase_2_Main.ipynb) `where 2 exercises are counted as bonus from sections 2.3 and 2.5 in the main notebook`. Total: `7 exercises`. Commit your code and submit the repository link to NTU Cool **`BEFORE the deadline (Nov. 24th, 11:59 pm, Monday)`**

## **Phase 3 (40 pts):**

1. **Kaggle Competition Participation (30 pts):** Participate in the in-class **Kaggle Competition** regarding Emotion Recognition on Twitter by clicking in this link: **[Data Mining Class Kaggle Competition](https://www.kaggle.com/t/3a2df4c6d6b4417e8bf718ed648d7554)**. The scoring will be given according to your place in the Private Leaderboard ranking: 
    - **Bottom 40%**: Get 20 pts of the 30 pts in this competition participation part.

    - **Top 41% - 100%**: Get (0.6N + 1 - x) / (0.6N) * 10 + 20 points, where N is the total number of participants, and x is your rank. (ie. If there are 100 participants and you rank 3rd your score will be (0.6 * 100 + 1 - 3) / (0.6 * 100) * 10 + 20 = 29.67% out of 30%.)   
    Submit your last submission **`BEFORE the deadline (Nov. 24th, 11:59 pm, Monday)`**. Make sure to take a screenshot of your position at the end of the competition and store it as `pic_ranking.png` under the `pics` folder of this repository and rerun the cell **Student Information**.

2. **Competition Report (10 pts)** A report section to be filled in inside this notebook in Markdown Format, we already provided you with the template below. You need to describe your work developing the model for the competition. The report should include a section describing briefly the following elements: 
* Your preprocessing steps.
* The feature engineering steps.
* Explanation of your model.

* **`Bonus (5 pts):`**
    * You will have to describe more detail in the previous steps.
    * Mention different things you tried.
    * Mention insights you gained. 

[Markdown Guide - Basic Syntax](https://www.markdownguide.org/basic-syntax/)

**`Things to note for Phase 3:`**

* **The code used for the competition should be in this Jupyter Notebook File** `DM2025-Lab2-Homework.ipynb`.

* **Push the code used for the competition to your repository**.

* **The code should have a clear separation for the same sections of the report, preprocessing, feature engineering and model explanation. Briefly comment your code for easier understanding, we provide a template at the end of this notebook.**

* Showing the kaggle screenshot of the ranking plus the code in this notebook will ensure the validity of your participation and the report to obtain the corresponding points.

After the competition ends you will have two days more to submit the `DM2025-Lab2-Homework.ipynb` with your report in markdown format and your code. Do everything **`BEFORE the deadline (Nov. 26th, 11:59 pm, Wednesday) to obtain 100% of the available points.`**

Upload your files to your repository then submit the link to it on the corresponding NTU Cool assignment.

## **Deadlines:**

![lab2_deadlines](./pics/lab2_deadlines.png)

---

Next you will find the template report with some simple markdown syntax explanations, use it to structure your content.

You can delete the syntax suggestions after you use them.

---

***

# **Project Report**

---
## 1. Model Development (10 pts Required)

**Describe briefly each section, you can add graphs/charts to support your explanations.**

### 1.1 Preprocessing Steps
1. First, I load data from `final_posts.json` and extract the `id` and `text` features to be features in the dataframe.
2. Second, I load data from `emotions.json` (which contains the classifications) into a dataframe. From this dataframe, I drop the `id` since it shouldn't be used to train/fit the data. 
3. Third, I data from `data_identification.csv` into a dataframe. 
    * I add the corresponding post/text to each entry in my new dataframe by merging in the dataframe from point #1.
    * I split this dataframe into test and train set based off of the entry's identification. 
    * I drop the `split` feature from all dataframes since everything has already been split, so this feature is no longer useful.

Given this, this is how the first 5 entries of each dataframe looks.
| train_df | test_df | y |
|----------|---------|---|
| ![train_df](./phase_3_images/train_df.png) | ![test_df](./phase_3_images/test_df.png) | ![y_df](./phase_3_images/y_df.png) |



### 1.2 Feature Engineering Steps
I decided to add 3 features. The first feature I added counts exclamation marks which I think would be associated with joy and surprise, since people often use exclamations to emphasize excitement. I achieve this by directly counting the number of exclamation marks in each text. The second feature I added counts question marks which I think would be associated with surprise, as questions can indicate curiosity. I achieve this by directly counting the number of question marks in each text. The third feature I added counts capitalized words, which I think would be associated with disgust and anger. I do this by splitting each text entry into individual words and  checking if each word is uppercase.


### 1.3 Explanation of Your Model
1. First, I split the train data set further into train and validation with a 80/20 split.
    * I use the features `['text', 'exclamation_mark_count', 'question_mark_count', 'capitalized_word_count']` for training.
2. Second, I declare a preprocessor. This is necessary because I have numerical and text data.
    * The numerical data needs to be standardized with `StandardScaler` so certain features don't dominate.
    * I use `TfidfVectorizer` so that the the raw text can be converted into numerical features that the model can understand.
3. Third, I create a pipeline that processes the data first using the preprocessor from point #2 and then runs `LogisticRegression` on the output.
4. Fourth, I train my model on the training set.
5. Fifth, I predict the results of the validation set.
6. Sixth, I measure the accuracy of the prediction of the validation set using `accurcy_score()` and `f1_score()`.
7. Finally, I predict the results of the **test** set. I write these results to the `submission.csv` file.

Here's a screenshot of the validation measurements: ![train_df](./phase_3_images/validation_results.png) 

---

## 2. Bonus Section (5 pts Optional)

**Add more detail in previous sections**

### 2.1 Mention Different Things You Tried

[Content for Experiments]

### 2.2 Mention Insights You Gained

[Content for Insights]

---

**`From here on starts the code section for the competition.`**

---

# **Competition Code**

## 1. Preprocessing Steps

In [26]:
import pandas as pd
import json

# Turn posts JSON into df
with open("./dm-lab-2-private-competition/final_posts.json", "r") as f:             
    data = json.load(f)

posts = []
for entry in data:
    post = entry["root"]["_source"]["post"]
    posts.append({
        "id": post["post_id"],
        "text": post["text"],
    })

# Convert to dataframe
posts_df = pd.DataFrame(posts)

In [33]:
# Create and finalize the train and test dfs

df = pd.read_csv("./dm-lab-2-private-competition/data_identification.csv")
y = pd.read_csv("./dm-lab-2-private-competition/emotion.csv")    

# Add the text feature
df = df.merge(posts_df, on="id", how="left")

# Split into train/validation and test dataframes
train_df = df[df['split'] == 'train'].reset_index(drop=True)
test_df = df[df['split'] == 'test'].reset_index(drop=True)

print("Train/Validation size:", train_df.shape)
print("Test size:", test_df.shape)
display(train_df.head(5))
display(test_df.head(5))

Train/Validation size: (47890, 3)
Test size: (16281, 3)

         id  split                                               text
0  0x35663e  train  I bet there is an army of married couples who ...
1  0xc78afe  train                         This could only end badly.
2  0x90089c  train  My sister squeezed a lime in her milk when she...
3  0x2ffb63  train                                Thank you so much❤️
4  0x989146  train  Stinks because ive been in this program for a ...

         id split                                               text
0  0x61fc95  test  We got the ranch, loaded our guns and sat up t...
1  0xaba820  test         and that got my head bobbing a little bit.
2  0x66e44d  test                Same. Glad it's not just out store.
3  0xc03cf5  test  Like always i will wait and see thanks for the...
4  0x02f65a  test  There's a bit of room between "not loving sub-...

In [34]:
# Drop the "id" column in the df because it shouldn't be used for training
y = y.drop(columns=["id"])

# Drop the "split" column in the df because it shouldn't be used for training and isn't needed for anything else
test_df = test_df.drop(columns=["split"])
train_df = train_df.drop(columns=["split"])
display(y.head(5))

  emotion
0     joy
1    fear
2     joy
3     joy
4     joy

## 2. Feature Engineering Steps

In [35]:
### Track the number of exclamation marks (joy, surprise), question marks (surprise), and capitalized words (disgust, anger)
train_df['exclamation_mark_count'] = train_df['text'].str.count('!')
train_df['question_mark_count'] = train_df['text'].str.count('\?')
train_df['capitalized_word_count'] = train_df['text'].apply(lambda x: sum(1 for w in x.split() if w.isupper()))

test_df['exclamation_mark_count'] = test_df['text'].str.count('!')
test_df['question_mark_count'] = test_df['text'].str.count('\?')
test_df['capitalized_word_count'] = test_df['text'].apply(lambda x: sum(1 for w in x.split() if w.isupper()))

display(train_df.head(5))
display(test_df.head(5))

,id,text,exclamation_mark_count,question_mark_count,capitalized_word_count
0,0x35663e,I bet there is an army of married couples who ...,0,0,1
1,0xc78afe,This could only end badly.,0,0,0
2,0x90089c,My sister squeezed a lime in her milk when she...,0,0,1
3,0x2ffb63,Thank you so much❤️,0,0,0
4,0x989146,Stinks because ive been in this program for a ...,0,0,0

,id,text,exclamation_mark_count,question_mark_count,capitalized_word_count
0,0x61fc95,"We got the ranch, loaded our guns and sat up t...",0,0,0
1,0xaba820,and that got my head bobbing a little bit.,0,0,0
2,0x66e44d,Same. Glad it's not just out store.,0,0,0
3,0xc03cf5,Like always i will wait and see thanks for the...,0,0,1
4,0x02f65a,"There's a bit of room between ""not loving sub-...",0,0,0

## 3. Model Implementation Steps

In [36]:
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(
    train_df[['text', 'exclamation_mark_count', 'question_mark_count', 'capitalized_word_count']],
    y,
    test_size=0.2,
    random_state=0
)
display(X_train.head(5))
display(y_train.head(5))
display(X_val.head(5))
display(y_val.head(5))

,text,exclamation_mark_count,question_mark_count,capitalized_word_count
15557,"Wow, that really hurts coming from a demented ...",0,0,0
42412,"one's a rapist, and the other's a stingy yank ...",0,0,1
47299,They had courts. You sue people who wronged you.,0,0,0
5286,It also happened to be raining on that day.,0,0,0
42066,Isn’t it careless for an official account to p...,1,2,1

      emotion
15557   anger
42412     joy
47299     joy
5286    anger
42066   anger

,text,exclamation_mark_count,question_mark_count,capitalized_word_count
6784,"Enjoy spending yours oblivious and phony, slow...",0,0,0
44679,now if only there was some sort of *shock them...,0,0,0
19459,You could not see a foot in front of you and I...,0,0,1
47018,More like thinks it's a pipe dream that isn't ...,0,0,0
11631,Levi and I arrived in an eye-capturing city th...,0,0,1

        emotion
6784   surprise
44679  surprise
19459      fear
47018   disgust
11631       joy

In [38]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score, f1_score
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer

numerical_columns = ['exclamation_mark_count', 'question_mark_count', 'capitalized_word_count']

# Need to standardize
preprocessor = ColumnTransformer(
    transformers=[
        ('tfidf', TfidfVectorizer(), 'text'),
        ('numerical', StandardScaler(), numerical_columns)
    ]
)

model = Pipeline([
    ('preprocess', preprocessor),
    ('clf', LogisticRegression(max_iter=500, class_weight='balanced'))
])

model.fit(X_train, y_train)

y_val_pred = model.predict(X_val) 


val_acc = accuracy_score(y_val, y_val_pred)
val_f1w = f1_score(y_val, y_val_pred, average='weighted')

print(y_val_pred)
print(y_val)
print(f"[Base - Validation] Acc: {val_acc:.4f} | F1-weighted: {val_f1w:.4f}")

/Users/catherinetao/Desktop/DM2025Labs/DM2025Labs/DM2025-Lab2-Exercise/.venv/lib/python3.11/site-packages/sklearn/utils/validation.py:1406: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

['surprise' 'fear' 'fear' ... 'fear' 'sadness' 'anger']
        emotion
6784   surprise
44679  surprise
19459      fear
47018   disgust
11631       joy
...         ...
36302   sadness
38470      fear
46353     anger
6961    sadness
46760     anger

[9578 rows x 1 columns]
[Base - Validation] Acc: 0.5662 | F1-weighted: 0.5869

In [24]:
y_test_pred = model.predict(test_df[['text', 'exclamation_mark_count', 'question_mark_count', 'capitalized_word_count']]) 

# Create submission dataframe
submission_df = pd.DataFrame({
    "id": test_df['id'], 
    "emotion": y_test_pred
})

# Save to CSV
submission_df.to_csv("submission.csv", index=False)

print("Done writing the submission file")

Done writing the submission file